
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <!-- BOOT STRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- 
        #delete-cont
        You isang buo kasi to haha pero you may edit depends on what is goodz
        
        unfortunately, kasing Laki nya ung sa Update and medjo malaki sha haha, kaya make it siguro magkasaya sa malaki or ig ilagay mo sha sa gitna tas magbackgroud ka ng red
        if nalito ka sa wordings ko here, iconsult mo saqin AHHAHA lutang eh sorna
    -->
</head>
<body>
    <div class="delete-bg">
        <div id="delete-cont" class="delete-cont">
            <form name="delete-forms" action="/admin/setup/npc/delete/<%= String(npcDesigChoice[0].npc_id) %>" >
               
                <h1 class="delete-quote">
                    Are you sure you want to delete _ with an id _
                </h1>
                <a id="delete-btn-forms" class="btn btn-danger" onclick="deleteRequest('<%= npcDesigChoice[0].npc_id %>')" href="/admin/setup/npc/">Delete</a>
                <a href="/admin/setup/npc/" class="btn btn-secondary">Back</a>
            </form>
        </div>
    </div>

<!-- icons-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 

</body>
</html>